@font-face {
    font-family: "Moliga DEMO";
    src: url("../../fonts/MoligaDEMO-Regular.woff2") format("woff2"),
        url("../../fonts/MoligaDEMO-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
